<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSQL">
	
	<!-- 회원가입시 중복아이디 체크 -->
	<select id="checkId" parameterType="String" resultType="user">
		select * from TBL_USER where userId = #{userId}
	</select>

	<!-- 회원가입시 중복이메일 체크 -->
	<select id="checkEmail" parameterType="String" resultType="user">
		select * from TBL_USER where userEmail = #{userEmail}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="user">
		insert into TBL_USER (USERID
							 ,USERPWD
							 ,USERNAME
							 ,USERBIRTHYEAR
							 ,USERBIRTHMONTH
							 ,USERBIRTHDAY
							 ,USERCAL
							 ,USEREMAIL
							 ,USERPHONE1
							 ,USERPHONE2
							 ,USERPHONE3
							 ,USERMSG
							 ,JOINDATE) 
					values (#{userId} 
							,#{userPwd} 
							,#{userName}
							,#{userBirthYear}
							,#{userBirthMonth}
							,#{userBirthDay}
							,#{userCal}
							,#{userEmail}
							,#{userPhone1}
							,#{userPhone2}
							,#{userPhone3}
							,#{userMsg}
							,sysdate)
	</insert>
	
	<!-- 로그인 아이디/비밀번호 체크 -->
	<select id="login" parameterType="java.util.Map" resultType="user">
		select * from TBL_USER where userId = #{userId} and userPwd = #{userPwd}
	</select>
	
	<!-- 비밀번호찾기 -->
	<select id="pwdSearch" parameterType="java.util.Map" resultType="user">
		select * from TBL_USER where userId = #{userId} and userName=#{userName} and userEmail=#{userEmail}
	</select>
	
	<!-- 비밀번호변경 -->
	<update id="changePwd" parameterType="java.util.Map">
		update TBL_USER set userPwd=#{userPwd} where userEmail=#{userEmail}
	</update>

	<!-- 아이디 찾기 -->
	<select id="idSearch" parameterType="java.util.Map" resultType="user">
		select * from TBL_USER where userName = #{search_name} and userEmail = #{search_email}
	</select>
	
	<!-- 마이페이지 회원정보 조회 -->
	<select id="getUserInfo" parameterType="String" resultType="user">
		select * from TBL_USER where userId = #{userId}
	</select>

	<!-- 회원정보수정 -->
	<update id="modify" parameterType="java.util.Map">
		update TBL_USER set USERPWD=#{userPwd}
							 ,USERNAME=#{userName}
							 ,USERBIRTHYEAR=#{userBirthYear}
							 ,USERBIRTHMONTH=#{userBirthMonth}
							 ,USERBIRTHDAY=#{userBirthDay}
							 ,USERCAL=#{userCal}
							 ,USEREMAIL=#{userEmail}
							 ,USERPHONE1=#{userPhone1}
							 ,USERPHONE2=#{userPhone2}
							 ,USERPHONE3=#{userPhone3}
							 ,USERMSG=#{userMsg}
							where userId=#{userId}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="memberDelete" parameterType="java.util.Map">
		delete from TBL_USER where userId=#{userId}
	</delete>
</mapper>