<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderManagerSQL">
	<!-- 주문 리스트 -->
	<select id="getOrderList" parameterType="java.util.Map" resultType="orderlist">
		select * from 
		(select rownum rn, tt.* from
		(select * from TBL_ORDERLIST order by orderDate desc, orderCode desc) tt)
		where rn between #{startNum} and ${endNum}
	</select>
	<!-- 리스트 전체 수 -->
	<select id="getTotalA" resultType="int">
		select count(*) from TBL_ORDERLIST
	</select>
	<!-- 주문 리스트 상품이름 -->
	<select id="getOrderProduct" parameterType="String" resultType="order">
		select * from TBL_ORDER where orderCode = #{orderCode} order by productCode desc
	</select>
	<!-- 배송지 정보 -->
	<select id="getReceiverInform" parameterType="String" resultType="user">
		select userId, userName, receiverName, receiverZipcode, receiverAddr1, receiverAddr2
			,  receiverPhone1, receiverPhone2, receiverPhone3, deliveryMsg
		from TBL_USER
		where userId = #{userId} 
	</select>
	<!-- 주문상세 -->
	<select id="orderViewList" parameterType="String" resultType="order">
		select * from TBL_ORDER where orderCode = #{orderCode} order by productCode desc
	</select>
	<!-- 주문상태 변경 -->
	<update id="orderStateChange" parameterType="java.util.Map">
		begin
			<!-- tbl_order -->
			update TBL_ORDER set orderState = #{orderState}
								, cancel = 0
								, exchange = 0
								, refund = 0
			where orderCode = #{orderCode};
			
			<!-- tbl_orderlist -->
			update TBL_ORDERLIST set orderState = #{orderState} where orderCode = #{orderCode};
			
			<!-- 주문취소시 컬럼 업데이트 -->
			<if test="orderState == 0">
				update TBL_ORDER set cancel = 1 where orderCode = #{orderCode};
			</if>
		end;
	</update>
	
	<!-- 검색 총 글 수 -->
	<select id="getSearchTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from TBL_ORDERLIST where
		<if test="searchText!=''">
			<choose>
				<when test="categorie.equals('orderCode')">
					orderCode like '%'||#{searchText}||'%'
				</when>
				<when test="categorie.equals('userName')">
					userName like '%'||#{searchText}||'%'
				</when>
				<when test="categorie.equals('userId')">
					userId like #{searchText}
				</when>
			</choose>
		</if>
		<if test="dateText1!=''and dataText2!=''">
			<if test="searchText!=''">
				and 
			</if>
			orderdate >= to_date(#{dateText1},'YYYYMMDD') and orderdate <![CDATA[<]]> to_date(#{dateText2},'YYYYMMDD') + 1
		</if>	
	</select>
	
	<!-- 검색 리스트 뿌리기 -->
	<select id="orderSearchList" parameterType="java.util.Map" resultType="orderlist">
		select * from 
		(select rownum rn, tt.* from
		(select * from TBL_ORDERLIST where 
		<if test="searchText!=''">
			<choose>
				<when test="categorie.equals('orderCode')">
					orderCode like '%'||#{searchText}||'%'
				</when>
				<when test="categorie.equals('userName')">
					userName like '%'||#{searchText}||'%'
				</when>
				<when test="categorie.equals('userId')">
					userId like #{searchText}
				</when>
			</choose>
		</if>
		<if test="dateText1!=''and dataText2!=''">
			<if test="searchText!=''">
				and 
			</if>
			orderdate >= to_date(#{dateText1},'YYYYMMDD') and orderdate <![CDATA[<]]> to_date(#{dateText2},'YYYYMMDD') + 1
		</if>	
		
		order by orderdate desc) tt)
		where rn between #{startNum} and #{endNum}
	</select>
	
	<!-- 주문관리페이지 체크된 주문상태 변경 -->
	<update id="selectedOrderStateChange" parameterType="java.util.Map">
		begin
			<!-- tbl_order -->
			update TBL_ORDER set orderState = #{orderState[0]}
								, cancel = 0
								, exchange = 0
								, refund = 0
			where orderCode in
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			
			<!-- tbl_orderlist -->
			update TBL_ORDERLIST set orderState = ${orderState[0]}
			where orderCode in 
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			
			<!-- 주문취소시 컬럼 업데이트 -->
			<if test="orderState[0] == 0">
				update TBL_ORDER set cancel=1,
									 orderState=0,
									 cancelAmount=totalPrice,
									 cancelQty=purchseQty 
								 where orderCode in
				<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			</if>
			<!-- 교환완료시 컬럼 업데이트 -->
			<if test="orderState[0] == 6">
				update TBL_ORDER set exchange=1,
									 orderState=6,
									 exchangeQty=purchaseQty
								 where orderCode in
				<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			</if>
			<!-- 환불완료시 컬럼 업데이트 -->
			<if test="orderState[0] == 8">
				update TBL_ORDER set refund=1,
									 orderState=8,
									 refundQty=purchaseQty,
									 refundAmount=totalPrice
								 where orderCode in
				<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			</if>
		end;
	</update>
	
	<!-- 주문내역 삭제 -->
	<delete id="selectedOrderDelete" parameterType="java.util.Map">
		begin
			delete TBL_ORDERLIST where orderCode in 
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			
			delete TBL_ORDER where orderCode in
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
		end;
	</delete>
</mapper>




