<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderManagerSQL">
	<!-- 주문 리스트 -->
	<select id="getOrderList" parameterType="java.util.Map" resultType="orderlist">
		select * from 
		(select rownum rn, tt.* from
		(select * from TBL_ORDERLIST order by orderDate desc, orderCode desc) tt)
		where rn between #{startNum} and ${endNum}
	</select>
	<!-- 리스트 전체 수 -->
	<select id="getTotalA" resultType="int">
		select count(*) from TBL_ORDERLIST
	</select>
	<!-- 주문 리스트 상품이름 -->
	<select id="getOrderProduct" parameterType="String" resultType="order">
		select * from TBL_ORDER where orderCode = #{orderCode} order by productCode desc
	</select>
	
	<!-- 상세팝업창에 유저정보(배송정보) 가져오기 -->
	<select id="getUserInfo" parameterType="String" resultType="user">
		select * from tbl_user where userId = 
							 (select userId from tbl_orderlist where orderCode = #{orderCode})
		 
	</select>
	
	<!-- 주문상세페이지 제품리스트 -->
	<select id="orderViewList" parameterType="String" resultType="order">
		select * from TBL_ORDER where orderCode = #{orderCode} order by productCode desc
	</select>
	
	<!-- tbl_orderlist 주문상태 갱신(변경) -->
	<update id="changeOrderlistState" parameterType="java.util.Map">
		update TBL_ORDERLIST set orderState = #{orderState} 
								 where orderCode = #{orderCode}
	</update>
	
	<!-- tbl_order 주문상태 갱신(변경) -->
	<update id="changeOrderState" parameterType="java.util.Map">
		update TBL_ORDER set orderState = #{orderState}
					where orderCode = #{orderCode} 
					and productCode = #{productCode}
	</update>
		
	<!-- 검색 총 글 수 -->
	<select id="getSearchTotalA" parameterType="java.util.Map" resultType="Integer">
	select count(*) from
        (select rownum rn, tt.* from 
        (select * from 
        (select * from 
        (select * from TBL_ORDERLIST 
        		<!--회원인경우 -->
    			<if test="userClass != '' and userClass != 'kokonut0'">
    				where userId not like '%kokonut0%'
    			</if>
    			<!-- 비회원인경우 -->
    			<if test="userClass != '' and userClass == 'kokonut0'">
    				where userId like '%kokonut0%'
    			</if>
    	) 
   		<if test="startDate != '' and endDate != ''">
   			where orderDate between TO_DATE(#{startDate},'YYYYMMDD') and TO_DATE(TO_NUMBER(#{endDate})+1,'YYYYMMDD')
   		</if>
   		) 
   		
   		<if test="searchKeyword != '' and orderState != '' and erState != ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   			and orderState like '%'||#{orderState}||'%'
   			or erState like '%'||#{erState}||'%'
   		</if>
   		<if test="searchKeyword != '' and orderState != '' and erState == ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   			and orderState like '%'||#{orderState}||'%'
   		</if>		
   		<if test="searchKeyword != '' and orderState == '' and erState != ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   			and erState like '%'||#{erState}||'%'
   		</if>	
   		<if test="searchKeyword != '' and orderState == '' and erState == ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   		</if>
   		<if test="searchKeyword == '' and orderState != '' and erState == ''">
   			where orderState like '%'||#{orderState}||'%'
   		</if>
   		<if test="searchKeyword == '' and orderState != '' and erState != ''">
   			where orderState like '%'||#{orderState}||'%'
   			or erState like '%'||#{erState}||'%'
   		</if>
   		<if test="searchKeyword == '' and orderState == '' and erState != '' ">
   			where erState like '%'||#{erState}||'%'
   		</if>
         order by orderDate desc)tt) 
         where rn between #{startNum} and #{endNum}
	</select>

	<!-- 주문관리에서 검색 리스트 뿌리기 -->
	<select id="orderSearchList" parameterType="java.util.Map" resultType="orderlist">
	select * from
        (select rownum rn, tt.* from 
        (select * from 
        (select * from 
        (select * from TBL_ORDERLIST 
        		<!--회원인경우 -->
    			<if test="userClass != '' and userClass != 'kokonut0'">
    				where userId not like '%kokonut0%'
    			</if>
    			<!-- 비회원인경우 -->
    			<if test="userClass != '' and userClass == 'kokonut0'">
    				where userId like '%kokonut0%'
    			</if>
    	) 
   		<if test="startDate != '' and endDate != ''">
   			where orderDate between TO_DATE(#{startDate},'YYYYMMDD') and TO_DATE(TO_NUMBER(#{endDate})+1,'YYYYMMDD')
   		</if>
   		) 
   		
   		<if test="searchKeyword != '' and orderState != '' and erState != ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   			and orderState like '%'||#{orderState}||'%'
   			or erState like '%'||#{erState}||'%'
   		</if>
   		<if test="searchKeyword != '' and orderState != '' and erState == ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   			and orderState like '%'||#{orderState}||'%'
   		</if>		
   		<if test="searchKeyword != '' and orderState == '' and erState != ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   			and erState like '%'||#{erState}||'%'
   		</if>	
   		<if test="searchKeyword != '' and orderState == '' and erState == ''">
   			where ${searchKeywordOption} like '%'||#{searchKeyword}||'%'
   		</if>
   		<if test="searchKeyword == '' and orderState != '' and erState == ''">
   			where orderState like '%'||#{orderState}||'%'
   		</if>
   		<if test="searchKeyword == '' and orderState != '' and erState != ''">
   			where orderState like '%'||#{orderState}||'%'
   			or erState like '%'||#{erState}||'%'
   		</if>
   		<if test="searchKeyword == '' and orderState == '' and erState != '' ">
   			where erState like '%'||#{erState}||'%'
   		</if>
         order by orderDate desc)tt) 
         where rn between #{startNum} and #{endNum}
	</select>

	<!-- 주문관리페이지 체크된 주문상태 변경 -->
	<update id="selectedOrderStateChange" parameterType="java.util.Map">
		begin
			<!-- tbl_order -->
			update TBL_ORDER set orderState = #{orderState[0]}
								, cancel = 0
								, exchange = 0
								, refund = 0
			where orderCode in
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			
			<!-- tbl_orderlist -->
			update TBL_ORDERLIST set orderState = ${orderState[0]}
			where orderCode in 
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			
			<!-- 주문취소시 컬럼 업데이트 -->
			<if test="orderState[0] == 0">
				update TBL_ORDER set cancel=1,
									 orderState=0,
									 cancelAmount=totalPrice,
									 cancelQty=purchseQty 
								 where orderCode in
				<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			</if>
			<!-- 교환완료시 컬럼 업데이트 -->
			<if test="orderState[0] == 6">
				update TBL_ORDER set exchange=1,
									 orderState=6,
									 exchangeQty=purchaseQty
								 where orderCode in
				<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			</if>
			<!-- 환불완료시 컬럼 업데이트 -->
			<if test="orderState[0] == 8">
				update TBL_ORDER set refund=1,
									 orderState=8,
									 refundQty=purchaseQty,
									 refundAmount=totalPrice
								 where orderCode in
				<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			</if>
		end;
	</update>
	
	<!-- 주문내역 삭제 -->
	<delete id="selectedOrderDelete" parameterType="java.util.Map">
		begin
			delete TBL_ORDERLIST where orderCode in 
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
			
			delete TBL_ORDER where orderCode in
			<foreach close=")" open="(" separator=","  index="i" collection="check">${check[i]}</foreach>;
		end;
	</delete>
	
	<!-- 주문취소폼 -->
	<select id="getOrderlistInCancelForm" parameterType="String" resultType="orderlist">
		select * from TBL_ORDERLIST where orderCode = #{orderCode}
	</select>
	
	<!-- 주문취소 등록1 : orderlist 수정-->
	<update id="updateOrderlist" parameterType="java.util.Map">
		update TBL_ORDERLIST set cancelDate = TO_DATE(#{cancelDate},'YYYYMMDD'),
								 cancelReason = #{cancelReason},
								 cancelDetail = #{cancelDetail},
								 whoCancel = 1,
								 crPayment = #{crPayment},
								 orderState = 0
							 where orderCode = #{orderCode}
	</update>
	
	<!-- 주문취소 등록 2 : order 가져오기 -->
	<select id="getOrder" parameterType="String" resultType="order">
		select * from TBL_ORDER where orderCode = #{orderCode}
	</select>
	
	<!-- 주문취소 등록 3 : order 수정 -->
	<update id="updateOrder" parameterType="java.util.Map">
		update TBL_ORDER set cancel = 1,
							orderState = 0,
							cancelQty = #{purchaseQty},
							cancelAmount = #{totalPrice}	
						 where orderCode = #{orderCode}
	</update>
	
	<!-- 주문취소 등록4 : user 수정 -->
	<update id="updateTotalPaymentInUser" parameterType="String">
		update TBL_USER set totalPayment 
						= totalPayment - (select totalPayment from TBL_ORDERLIST where orderCode=#{orderCode})
	             		where userId 
	             		= (select userId from TBL_ORDERLIST where orderCode=#{orderCode})
	</update>
	
	<!-- 주문취소자 -->
	<select id="getWhoCancel" parameterType="String" resultType="orderlist">
		select * from TBL_ORDERLIST where orderCode = #{orderCode}
	</select>
</mapper>




