<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pointSQL">
	<!-- 포인트 리스트 -->
	<select id="getPointList" parameterType="String" resultType="point">
		select * from tbl_point where userId = #{userId} order by logdate desc, contents desc
	</select>	
	
	<!-- 주문내역 상세보기 사용한 포인트 가져오기 -->
	<select id="getUsePoint" parameterType="String" resultType="String">
		select usePoint from tbl_point where orderCode = #{orderCode} and  pointType = 2
	</select>
	
	<!-- 주문관리 상세페이지에서 사용한 포인트 내역 가져오기  -->
	<select id="getPointDTO" parameterType="String" resultType="point">
		select * from tbl_point where orderCode = #{orderCode} and  pointType = 2
	</select>
	
</mapper>