<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productSQL">
	<!-- 페이지 로딩시 전체 상품 목록 -->
	<select id="productList" parameterType="java.util.Map" resultType="goods">
		select * from 
		(select rownum rn, tt.* from
		(select * from TBL_PRODUCT order by productCode desc) tt)
		where rn between #{startNum} and #{endNum}
	</select>
	
	
	<!-- 상품검색 시 상품 목록 -->
	<select id="productSearch" parameterType="java.util.Map" resultType="goods">
		select * from 
		(select rownum rn, tt.* from
		(select * from TBL_PRODUCT where
			<if test="!kategorie.equals('-카테고리 선택-')">
			<choose>
				<when test="kategorie.equals('stationery')">
					stationery=1
				</when>
				<when test="kategorie.equals('living')">
					living=1
				</when>
				<when test="kategorie.equals('travel')">
					travel=1
				</when>
				<otherwise>
					collabo=1
			</otherwise>
			</choose>
		</if>
		<if test="productSearchWord!=''">
			<if test="!kategorie.equals('-카테고리 선택-')">
				and 
			</if>
			<choose>
				<when test="productKeyword.equals('productName')">
					productName like '%'||#{productSearchWord}||'%'
				</when>
				<when test="productKeyword.equals('productCode')">
					productCode like '%'||#{productSearchWord}||'%'
				</when>
				<otherwise>
					manufacturer like '%'||#{productSearchWord}||'%'
				</otherwise>
			</choose>
		</if>
		
		<if test="lowPrice!='' and highPrice!=''">
			<if test="productSearchWord!=''">
				and
			</if>
			originalPrice between #{lowPrice} and #{highPrice}
		</if>
		
		order by productCode desc) tt)
		where rn between #{startNum} and #{endNum}
	</select>
	
	
	<!-- 전체목록 글 수 -->
	<select id="getTotalA" resultType="int">
		select count(*) from TBL_PRODUCT
	</select>
	
	
	<!-- 검색목록 글 수 -->
	<select id="getSearchTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from TBL_PRODUCT where
		<if test="!kategorie.equals('-카테고리 선택-')">
			<choose>
				<when test="kategorie.equals('stationery')">
					stationery=1
				</when>
				<when test="kategorie.equals('living')">
					living=1
				</when>
				<when test="kategorie.equals('travel')">
					travel=1
				</when>
				<otherwise>
					collabo=1
			</otherwise>
			</choose>
		</if>
		<if test="productSearchWord!=''">
			<if test="!kategorie.equals('-카테고리 선택-')">
				and 
			</if>
			<choose>
				<when test="productKeyword.equals('productName')">
					productName like '%'||#{productSearchWord}||'%'
				</when>
				<when test="productKeyword.equals('productCode')">
					productCode like '%'||#{productSearchWord}||'%'
				</when>
				<otherwise>
					manufacturer like '%'||#{productSearchWord}||'%'
				</otherwise>
			</choose>
		</if>
		
		<if test="lowPrice!='' and highPrice!=''">
			<if test="productSearchWord!=''">
				and
			</if>
			originalPrice between #{lowPrice} and #{highPrice}
		</if>
	</select>
	
	
	<!-- 상품수정폼 선택 값 불러오기 -->
	<select id="getModifyForm" parameterType="String" resultType="goods">
		select * from TBL_PRODUCT where productCode=#{productCode}
	</select>
	
	
	<!-- 상품삭제 -->
	<delete id="productDelete" parameterType="java.util.Map">
		delete TBL_PRODUCT where productCode in 
		<foreach close=")" open="(" separator="," index="i" collection="array">${array[i]} </foreach>
	</delete>
</mapper>












