@charset "UTF-8";
*{
	font-family: 'Noto Sans KR', sans-serif;
}
body{
	margin: 0;
}
.main{
	width:100%;
	height:100%;
}
.header{
	width:100%;
	border-bottom: 1px solid .e1e1e1;
}
.header_area{
	/* border: 2px solid red; */
	width: 1000px;
	height: 90px;
	margin: 0 auto;
}
.banner_img{
	width: 100%;
	height: 90%;
}
.goods_userPage_area{
	/* border: 1px solid; */
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.goods_userPage_main{
	/* border: 1px solid; */
	width: 970px;
	height: 90%;
	margin: 45px 15px;
}
.goods_userPage_search{
	/* border: 1px solid #338822; */
	width: 967px;
	height: 71px;
	line-height: 71px;
	background-color: #EBEBEB;
	text-align: center;
	padding: 30px 0;
	margin: 20px 0 40px 0;
}
.goods_userPage_searchOption{
	border: 1px solid white;
	width: 200px;
	height: 50px;
	padding: 0 0 0 15px;
	margin: 0 7px 0 0;
}
.goods_userPage_searchValue{
	border: 1px solid white;
	width: 520px;
	height: 48px;
	padding: 0 0 0 15px;
	margin: 0 7px 0 0;
}
.goods_userPage_searchBtn{
	border: 1px solid black;
	width: 130px;
	height: 50px;
	background-color: #444444;
	color: white;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.goods_userPage_sortOption{
	border: 1px solid #dfdfdf;
	width: 120px;
	height: 40px;
	padding: 0 0 0 15px;
	margin: 0 0 20px 0;
	float: right;
}
.goods_userPage_table{
	border-top: 1px solid #999;
	border-bottom: 1px solid #dfdfdf;
	width: 100%;
	height: 50px;
	background-color: #f6f6f6;
	font-size: 12px;
	color: #999;
	text-align: center;
	margin-top: 15px;
}
.goods_userPage_board{
	border-bottom: 1px solid #dfdfdf;
	width: 100%;
	min-height: 60px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}
.goods_userPage_img{
	width: 70px;
	height: 86px;
	padding: 20px 0;
}
.goods_userPage_board_content{
	text-align: left;
	padding: 0 0 0 15px;
}
.goods_userPage_paging{
	widht: 100%; 
	height: 20px;
	font-size: 13px;
	text-align: center;
	padding: 30px 15px 15px 75px;
}
/*후기 페이징*/
#currentPaging {
	padding-right:5px;
	color: #2AC1BC; 
	font-weight: 700;
	cursor:pointer;
}

#paging {
	padding-right:5px;
	color : black; 
	text-decoration: none; 
	cursor:pointer;
}

/*비밀글*/
.userPage_private_lock{
	background-color: #f7f7f7;
	font-size: 14px;
	font-weight: 500;
	text-align:center;
	color: #999;
	padding: 50px;
}

/* 푸터이미지 */
#footer{
	margin-top: 100px;
	width:100%;
	background-color: #333333;
}
#footer_img_area{
	width: 1000px;
	margin: 0 auto;
}
#footer_img{
	width: 100%;
	height: 100%;
}