body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

div {
    display: block;
}

.sub-button {
    width: 50%;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    box-sizing: border-box;
    display: list-item;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif,Arial, dotum, ����;
    font-weight: 500;
    color: #a4a4a4;
    cursor: pointer;
    
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.main-button:hover {
    background-color: #222;
    color: #fff;
}

.main-button {
    font-weight: 700;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(68, 68, 68);
    box-sizing: border-box;
    display: list-item;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif, Arial, dotum, ����;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    list-style: none;
    transition: all 0.2s ease 0s;
}

.optionSelect{
	border:1px solid #DDD; 
	width:100%; 
	height:37.4px;
	padding-left: 10px; 
	font-size:13px; 
	color: #333; 
	/* -webkit-appearance:none; */ 
	border-radius:0;
}
