
@charset "UTF-8";
*{
	margin:0; padding:0;
	list-style-type:none;
	font-family: 'Noto Sans KR', sans-serif;
}

/* noticeboard */
.notice_wrap{
	width: 1000px;
	margin: 0 auto;
}

.notice_list td{

	text-align: center;
	height: 71px;
	width: 64px;
}
.notice_list{
	padding-left: 20px;
	font-size: 13px;
	margin-bottom: 150px;
	
}

#notice_table{
	width:960px;
	border-top:1px solid #999999;
	border-collapse:collapse;	
}
#notice_table tr{
	border-bottom:1px solid #cccccc;
}

.list_menu{
	background: #f6f6f6;
	color: #999;
}

.subjectTr:hover{
	background:#f6f6f6;
}

#notice_table .subjectA{
	text-align:left;
}

#notice_table .contentA{
	text-align:left;
}


#noticeboard_searchForm{
	width:1000px;
	margin:auto;
	
}

.noticeboard_search{
	width: 967px;
	height: 71px;
	line-height: 71px;
	background-color: #EBEBEB;
	text-align: center;
	padding: 30px 0;
	margin: 20px 0 40px 0;
}

.noticeboard_searchOption{
	border: 1px solid white;
	width: 200px;
	height: 50px;
	padding: 0 0 0 15px;
	margin: 0 7px 0 0;
}
.noticeboard_searchValue{
	border: 1px solid white;
	width: 520px;
	height: 48px;
	padding: 0 0 0 15px;
	margin: 0 7px 0 0;
}
.noticeboard_searchBtn{
	border: 1px solid black;
	width: 130px;
	height: 50px;
	background-color: #444444;
	color: white;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
