<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaSQL">
	<!-- 상품후기리스트 가져오기 -->
	<select id="getQnaList" parameterType="Integer" resultType="qnaboard">
		select * from TBL_QNABOARD where productCode = #{productCode}
	</select>

</mapper>