<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSQL">

	<select id="getProduct" parameterType="Integer" resultType="goods">
		select * from TBL_PRODUCT where productCode = #{productCode}
	</select>
	
	<!-- 배송지 우편번호  검색-->
	<select id="postSearch" parameterType="java.util.Map" resultType="post">
		select * from NEWZIPCODE 
		where sido like '%'||#{sido}||'%'
              and nvl(sigungu, '0') like '%'||#{sigungu}||'%' 
              and roadname like '%'||#{roadname}||'%'
	</select>

	<!--배송정보 추가 -->
	<update id="updateUserInfo" parameterType="user">
		update TBL_USER set  receiverName 	= #{receiverName}
							,receiverAddr1 	= #{receiverAddr1}
							,receiverAddr2 	= #{receiverAddr2}
							,receiverZipcode = #{receiverZipcode}
							,receiverPhone1 = #{receiverPhone1}
							,receiverPhone2 = #{receiverPhone2}
							,receiverPhone3 = #{receiverPhone3}
							,deliveryMsg = #{deliveryMsg}
							where userId = #{userId}
	</update>
	
	<!--주문정보 추가 : 옵션 없을때  -->
	<insert id="setOrderInfo" parameterType="order">
		insert into TBL_ORDER(userId
							  ,userName
							  ,thumbImg
							  ,productCode
							  ,productName
							  ,discountPrice
							  ,purchaseQty
							  ,totalPrice
							  ,paymentType
							  ,totalPayment
							  ,productOption) values(
							  #{userId}
							  ,#{userName}
							  ,#{thumbImg}
							  ,#{productCode}
							  ,#{productName}
							  ,#{discountPrice}
							  ,#{purchaseQty}
							  ,#{totalPrice}
							  ,#{paymentType}
							  ,#{totalPayment}
							  ,#{productOption} )
	</insert>
	
	<!-- 주문정보 추가 : 옵션 있을떄 -->
	<insert id="setOrderInfoOption" parameterType="order">
		insert into TBL_ORDER(userId
					  ,userName
					  ,thumbImg
					  ,productCode
					  ,productName
					  ,discountPrice
					  ,purchaseQty
					  ,totalPrice
					  ,paymentType
					  ,totalPayment
					  ,productOption
					  ,optionContent) values(
					  #{userId}
					  ,#{userName}
					  ,#{thumbImg}
					  ,#{productCode}
					  ,#{productName}
					  ,#{discountPrice}
					  ,#{purchaseQty}
					  ,#{totalPrice}
					  ,#{paymentType}
					  ,#{totalPayment}
					  ,#{productOption} 
					  ,#{optionContent} )
	</insert>
	
	<!--주문정보 가져오기 -->
	<select id="getOrderInfo" parameterType="String" resultType="order">
		select * from TBL_ORDER where userId = #{userId} and orderCode = 0
	</select>
	
	<!-- orderlist 생성 및 order 수정 -->
	<insert id="insertOrderlist" parameterType="orderlist">
		begin
		insert into TBL_ORDERLIST(orderCode 
								,orderDate
								,userId 
								,userName 
								,totalProductPayment
								,paymentType 
								,deliveryFee
								,totalPayment ) 
								values
								(to_char(sysdate,'yymmdd')||orderCode_seq.nextval
                    			,sysdate
								,#{userId}
								,#{userName}
								,#{totalProductPayment}
								,#{paymentType}
								,#{deliveryFee}
								,#{totalPayment} );
								
		update TBL_ORDER set  orderCode  = to_char(sysdate,'yymmdd')||orderCode_seq.currval
							  ,orderDate = sysdate
							  where userId = #{userId} and orderCode = 0;
		end;
	</insert>		

	

</mapper>